body{

    background-color: burlywood;
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Benne', serif;
}

h1{
    color: hsl(152, 30%, 50%);
    font-size: 3.25rem;
    margin:50px auto 0 auto;
    font-family: 'Sacramento', cursive;

}

h2{
    color: hsl(180, 4%, 25%);
    font-family: 'Benne', serif;
    font-size: 2.5rem;

}

h3{

    font-family: 'Montserrat', sans-serif;
    color: #11999E;

  }

p{
    line-height: 2;
}


a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{

    color: lightgreen;
}

.copy-write{

    color: dimgray;
    font-size: 0.75rem;
    padding: 1px 0;
}

#top-container{

    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}


.bottom-cloud{

    position: absolute;
    left: 250px;
    bottom: 300px;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;
}

.middle-container{

    margin-top: 50px;

}


.bottom-container{

    background-color: burlywood;
    padding: 30px 0 10px;
    margin-top: 15pt;
}

#profile-pic{

    width: 14%;
    padding-bottom: 20px;
}


#intro{

    width: 30%;
    margin: auto;
}

.skill-row{

    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;

}

.HTML{

    width: 25%;
    float: left;
    margin-right: 10px;
}

.CSS{

    width: 25%;
    float: right;
    margin-left: 10px;
}

.JS{

    width: 25%;
    float: left;
    margin-right: 10px;
}
.Python{

    width: 25%;
    float: right;
    margin-left: 10px;
}

.Core-Java{

    width: 25%;
    float: right;
    margin-left:10px;
}

.SQL{

    width: 25%;
    float: left;
    margin-right: 10px;
}

.Computer-Networks{

    width: 25%;
    float: left;
    margin-right:10px;
}

.contact-message{

   background-color: coral;
    width: 40%;
    margin: 40px auto 60px;
}
.span{

text-decoration: underline;
}
